#Some of these are related to eclipse. So i keep them out of my repo

.cproject
.dep/
.project
.settings/
nbproject/
.idea/
data/
output/

prince/build
graph-parser/build
prince/src/common.h
#files being edited
*~

# make and build files
*.lst
*.o
*.so
*.a
*.eep
*.lss
*.map
*.sym
*.pyc
*.png
*.pdf
*.txt
*.out
*.gch
*.dat
*.graph
