#Some of these are related to eclipse. So i keep them out of my repo

.cproject
.dep/
.project
.settings/
nbproject/
.idea/



prince/build
graph-parser/build

#files being edited
*~

# make and build files
*.lst
*.o
*.so
*.a
*.eep
*.lss
*.map
*.sym
*.pyc
*.png
*.pdf
*.txt
*.out
*.gch
*.dat
*.json
*.graph


